/* Non-critical CSS elements for loading front page*/

.info-text {
  font-family: 'Verdana', sans-serif;
  color: #eeeeee;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}

.info-link{
  font-family: 'Verdana', sans-serif;
  color: #eeeeee;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  text-decoration: underline;
  font-weight: 700;
}
